<ul class="nearest_station_info">
  <li class="name"><%= nearest_station.name %></li>
  <li class="address"><%= nearest_station.address %></li>
  <li class="fuel_type"><%= nearest_station.fuel_type %></li>
  <li class="distance"><%= nearest_station.distance %></li>
  <li class="access_times"><%= nearest_station.access_times %></li>
  <li class="estimated_travel_time"><%= nearest_station.travel_time %></li>
  <li class="directions"><%= raw(nearest_station.instructions) %></li>
</ul>
